.win-bg-black {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	z-index: 1000;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}

.win-dialog {
	z-index: 1100;
	border: 1px solid #CCCCCC;
	position: absolute;
	top: 160px;
	left: 50%;
}

.win-top {
	background: #71B25F;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	padding: 5px 8px;
}

.win-erro-btn {
	cursor: pointer;
	float: right;
}

.win-erro-btn:hover {
	color: #31B0D5;
}

.win-content {
	min-width: 200px;
	background-color: #FFFFFF;
}


/*alert*/




/*按钮*/

.btn {
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}

.btn-ok {
	background: #71B25F;
	color: #fff;
}

.btn-ok:hover {
	background: #86BE77;
}

.btn-ok:active {
	background: #255625;
}

.btn-cancel {
	background: #DEDEDE;
}

.btn-cancel:hover {
	background: #E6E6E6;
}

.btn-cancel:active {
	background: #8C8C8C;
}

input,
button,
a {
	blr: expression-r(this.onFocus=this.blur());
	outline: none;
	border: 0;
}